
.vs/pint-size-packer/v15/.suo
*.db
*.opendb
*.ipch
*.obj
*.log
*.tlog
*.pdb
*.exe
*.iobj
*.ipdb
pint-size-packer/miniz-2.1.0/examples/*
pint-size-packer/miniz-2.1.0/readme.md
pint-size-packer/miniz-2.1.0/ChangeLog.md
*.id0
*.id1
*.id2
*.nam
*.til
